@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Generic styles  */

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
}
@layer utilities {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
}
.iekbcc0 {
  font-family: "Comfortaa" !important;
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.activeLink {
  color: #364152 !important;
  font-weight: 700;
}
.hero {
  background-image: url(/images/main/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* basic styles */

/* Buttons  */
.small-btn {
  font-family: "Inter" !important;
  font-size: 14px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  display: inline-flex !important;
  height: 36px !important;
  padding: 0px 14px !important;
  justify-content: center !important;
  align-items: center !important;
  flex-shrink: 0 !important;
  border-radius: 8px !important;
}
.medium-btn {
  display: inline-flex !important;
  height: 44px !important;
  padding: 0px 18px !important;
  justify-content: center !important;
  align-items: center !important;
  flex-shrink: 0 !important;
  font-family: "Inter" !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  line-height: 24px !important;
  border-radius: 8px !important;
}
.large-btn {
  display: inline-flex !important;
  height: 60px !important;
  padding: 0px 24px !important;
  justify-content: center !important;
  align-items: center !important;
  flex-shrink: 0 !important;
  font-family: "Inter" !important;
  font-size: 20px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  line-height: 30px !important;
  border-radius: 8px !important;
}
.default-btn {
  background-color: #5bc0be !important;
  transition: all 0.1s !important;
  color: white !important;
  cursor: pointer !important;
}
.default-btn:hover {
  box-shadow: 0px 0px 3px 3px #2164ff5b !important;
}
.default-btn:focus {
  background-color: #418887 !important;
}
.default-btn:disabled {
  background-color: #ccebeb !important;
  cursor: not-allowed !important;
}
.tetiary-btn {
  background-color: #fff !important;
  transition: all 0.1s !important;
  cursor: pointer !important;
  color: #333 !important;
}
.tetiary-btn:hover {
  background-color: #f8fafc !important;
}
.tetiary-btn:focus {
  background-color: #eef2f6 !important;
}
.tetiary-btn:disabled {
  background-color: #ececec !important;
  cursor: not-allowed !important;
  color: #bdbdbd !important;
}
.l-trans-btn {
  border: 1px solid #cdd5df !important;
  transition: all 0.1s !important;
  cursor: pointer !important;
  color: #333333 !important;
}
.l-trans-btn:hover {
  background-color: rgba(255, 255, 255, 0.1) !important;
  box-shadow: 0px 0px 3px 2px #eef2f6 !important;
}
.l-trans-btn:focus {
  background-color: rgba(248, 248, 248, 0.4) !important;
}
.l-trans-btn:disabled {
  background-color: #ececec !important;
  color: #bdbdbd !important;
  cursor: not-allowed !important;
}
.destr-btn {
  background-color: #ff3737 !important;
  transition: all 0.1s !important;
  cursor: pointer !important;
  color: white !important;
}
.destr-btn:hover {
  box-shadow: 0px 0px 3px 2px rgba(255, 55, 55, 0.3) !important;
}
.destr-btn:focus {
  background-color: #f60000 !important;
}
.destr-btn:disabled {
  background-color: #ffacac !important;
  cursor: not-allowed;
}
.destr-trans-btn {
  transition: all 0.1s !important;
  cursor: pointer !important;
  color: #ff3737 !important;
}
.destr-trans-btn:hover {
  box-shadow: 0px 0px 3px 2px rgba(255, 55, 55, 0.08) !important;
}
.destr-trans-btn:focus {
  background-color: rgba(255, 69, 69, 0.05) !important;
}
.destr-trans-btn:disabled {
  background-color: rgba(255, 69, 69, 0.05) !important;
  color: #ff9595 !important;
  cursor: not-allowed !important;
}
.dark-trans-btn {
  border: 1px solid #364152 !important;
  transition: all 0.1s !important;
  cursor: pointer !important;
  color: #f8fafc !important;
}
.dark-trans-btn:hover {
  box-shadow: 0px 0px 3px 2px #364152 !important;
  color: #eef2f6 !important;
}
.dark-trans-btn:focus {
  background-color: rgba(72, 72, 72, 0.33) !important;
  color: #eef2f6 !important;
}
.dark-trans-btn:disabled {
  background-color: #697586 !important;
  color: #bdbdbd !important;
  cursor: not-allowed !important;
}
.link-btn {
  text-decoration: underline !important;
  color: #4b5565 !important;
  transition: 0.1s !important;
  cursor: pointer !important;
}
.link-btn:hover {
  box-shadow: 0px 4px 18px 0px rgba(55, 114, 255, 0.22) !important;
  color: #121926 !important;
}
.link-btn:focus {
  color: #000 !important;
  text-decoration: none !important;
}
.link-btn:disabled {
  color: #9aa4b2 !important;
  text-decoration: none !important;
  cursor: not-allowed !important;
}
.button-index {
  border-radius: 8px !important;
  background: linear-gradient(90deg, #5bc0be -3.72%, #79a1ff 134.17%);
  color: #ffffff !important;
  transition: 0.1s !important;
}
.button-index:hover {
  /* border: 3px solid red !important; */
  box-shadow: 0px 0px 3px 2px #2162ff45 !important;
}
.button-index:focus {
  box-shadow: 0px 0px 9px 2px #2162ff45 !important;
}
.button-index:disabled {
  cursor: not-allowed;
}

/* inputs */

.text-input {
  color: #a3a3a3;
  border: 1px solid #e0e0e0;
  outline: none;
  font-family: "Inter";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  border-radius: 4px;
  transition: all 0.1s;
}
.text-input:hover {
  box-shadow: 0px 0px 3px 0px #9aa4b2 !important;
}
.text-input:focus {
  box-shadow: 0px 0px 3px 1px #697586 !important;
}
.text-input:disabled {
  background-color: #ddd;
  border: 1px solid #b8b8b8;
}

/* texts  */
.font-generic {
  font-family: "Inter";
}
.xxlreg,
.xlreg,
.lgreg,
.mdreg,
.smreg,
.txlreg,
.tlgreg,
.tmdreg,
.tsmreg,
.txsreg {
  font-weight: 400;
}
.xxlmed,
.xlmed,
.lgmed,
.mdmed,
.smmed,
.txlmed,
.tlgmed,
.tmdmed,
.tsmmed,
.txsmed {
  font-weight: 500;
}
.xxlsbold,
.xlsbold,
.lgsbold,
.mdsbold,
.smsbold,
.txlsbold,
.tlgsbold,
.tmdsbold,
.tsmsbold,
.txssbold {
  font-weight: 600;
}
.xxlbold,
.xlbold,
.lgbold,
.mdbold,
.smbold,
.txlbold,
.tlgbold,
.tmdbold,
.tsmbold,
.txsbold {
  font-weight: 700;
}
.xxlblack,
.xlblack,
.lgblack,
.mdblack,
.smblack,
.txlblack,
.tlgblack,
.tmdblack,
.tsmblack,
.txsblack {
  font-weight: 900;
}

.xxlreg,
.xxlmed,
.xxlsbold,
.xxlbold,
.xxlblack,
.mdlblack {
  font-size: 72px;
  line-height: 90px;
}
.xlreg,
.xlmed,
.xlsbold,
.xlbold,
.xlblack {
  font-size: 60px;
  line-height: 72px;
}
.lgreg,
.lgmed,
.lgsbold,
.lgbold,
.lgblack {
  font-size: 48px;
  line-height: 60px;
}
.mdreg,
.mdmed,
.mdsbold,
.mdbold,
.mdblack {
  font-size: 36px;
  line-height: 44px;
}
.smreg,
.smmed,
.smsbold,
.smbold,
.smblack {
  font-size: 24px;
  line-height: 32px;
}
.txlreg,
.txlmed,
.txlsbold,
.txlbold,
.txlblack {
  font-size: 20px;
  line-height: 30px;
}
.tlgreg,
.tlgmed,
.tlgsbold,
.tlgbold,
.tlgblack {
  font-size: 18px;
  line-height: 28px;
}
.tmdreg,
.tmdmed,
.tmdsbold,
.tmdbold,
.tmdblack {
  font-size: 16px;
  line-height: 24px;
}
.tsmreg,
.tsmmed,
.tsmsbold,
.tsmbold,
.tsmblack {
  font-size: 14px;
  line-height: 20px;
}
.tsxreg,
.tsxmed,
.tsxsbold,
.tsxbold,
.tsxblack {
  font-size: 12px;
  line-height: 18px;
}
